@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #2a6932;
  --black: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-black: var(--black);
  --font-sans: var(--font-poppins);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--foreground);
}

.primary {
  background: var(--primary) !important;
  color: #fff;
    font-family: var(--font-poppins), sans-serif;
}

.font-anton {
  font-family: var(--font-anton), sans-serif;
}
